@font-face {
    font-family: "Open Sans";
    src: url("fonts/opensans.woff") format("woff"),
         url("fonts/opensans.woff2") format("woff2");
}

@font-face {
    font-family: "Open Sans Light";
    src: url("fonts/opensanslight.woff") format("woff"),
         url("fonts/opensanslight.woff2") format("woff2");
}

@font-face {
    font-family: "Gilroy Light";
    src: url("gilroylight.woff") format("woff"),
         url("gilroylight.woff2") format("woff2");
}

@font-face {
    font-family: "Gilroy ExtraBold";
    src: url("gilroyextrabold.woff") format("woff"),
         url("gilroyextrabold.woff2") format("woff2");
    
}

@keyframes full-yellow {
    to {
       background-image:  linear-gradient(transparent 0%,#f0c52e 0%, #f0c52e 100%, transparent 100%, transparent);
    }
}

@keyframes full-black {
    from {
       background-image:  linear-gradient(transparent 0%,#f0c52e 0%, #f0c52e 100%, transparent 100%, transparent);
    }
    to {
    background-image: linear-gradient(#000000 0%,#000000 100%);
    }
}

body {
    width: 1440px;
    
    margin: 0;
    
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
    
    background-color: #ffffff;
    background-position: top center;
}

a {
    text-decoration: none;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
/*    outline: 2px solid blue;*/
}
.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-header a:hover,
.main-header a:focus {
    opacity: 0.6;
}

.main-header a:active {
    opacity: 0.3;
}
/*сделать элегантнее*/
.main-header .main-header-logo:hover,
.main-header .main-header-logo:focus,
.main-header .main-header-logo:active {
    opacity: 1;
}

.main-header {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    margin-top: 40px;
    margin-bottom: -110px;
    background-color: #f7e296;
}

.main-header-container {
    margin-top: 42px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 160px;
}

.main-header-logo {
    position: absolute;
    top: 22px;
    left: 199px;
}

.search input {
    margin: 0;
    padding: 0;
}
.main-header .user-interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 40px;
}


.search {
    position: relative;
    
    display: flex;
    align-items: center;
    width: 540px;
/*    outline: solid 2px blue;*/
}

.search p {
    margin: 0;
    padding: 0;
    padding-left: 38px;
    
}
.search input[type="search"] {
    font: inherit;
    
    background: #f7e296;
    border: none;
    outline: none;
/*    letter-spacing: 1px;*/
} 

.main-header input[type="search"]:focus {
    width: 355px;
    border-bottom: 2px solid #000000;
}

.main-header form::before {
    content: "";
    position: absolute;
    left: 2px;
    
    width: 16px;
    height: 16px;
    
    background-image: url(img/search.svg);
}

.main-header .search-button {
    padding: 8px 18px;
    
    font-size: 15px;
    line-height: 30px;
    
    background: none;
    border: 2px solid #000000;
}

.main-header .search-button:focus,
.main-header .search-button:hover {
    color: #ffffff;
    
    background: #000000;
}

.main-header .search-button:active {
    color: rgba(255, 255, 255, 0.5);
}


.main-header .user-interface .wrapper {
    display: flex;
    align-items: center;
    
    width: 500px;
}

.main-header .user-icon {
    display: block;
    
    width: 13px;
    height: 12px;
    
    font-size: 0;
    
    background-image: url(img/user.svg)
}

.main-header .cart {
    position: relative;
    margin-left: auto;
    padding-left: 30px;
}

.main-header .cart::before {
    content:"";
    position: absolute;
    top: 10px;
    left: 7px;
    
    width: 12px;
    height: 12px;
    
    background-image: url(img/cart.svg);
}

.main-header .compare {
    position: relative;
    padding-left: 28px;
}

.main-header .compare::before {
    content:"";
    position: absolute;
    top: 10px;
    left: 7px;
    
    width: 10px;
    height: 10px;
    
    background-image: url(img/compare.svg);
}

.main-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-header .user-login {
    display: flex;
    align-items: center;
    width: 280px;
}

.main-header .user-icon {
    margin-right: 12px;
}

.main-navigation .site-navigation {
    display: flex;
    
    margin-bottom: 35px;
    
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
}

.site-navigation a {
    letter-spacing: 3.5px;
}


.site-navigation li:nth-child(1) {
    margin-right: 292px;
}

.site-navigation li:nth-child(2) {
    margin-right: 35px;
}

.site-navigation li:nth-child(3) {
    margin-right: auto;
}

.site-navigation li:nth-child(4) {
    margin-right: -3px;
}
.show-popular {
    position: relative;
    
    padding-right: 30px;
}

.show-popular::after {
    content: "";
    position: absolute;
    top: 3px;
    right: 2px;
    
    width: 16px;
    height: 16px;
    
    
    background: url(img/plus.svg);
    opacity: 0.3;
}
.popular {
    position: absolute;
    
    
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    
    width: 560px;
    height: 90px;
}


.popular li:nth-child(5) {
    margin-bottom: 30px;
}

/*временный класс*/
.vis-h {
    position: absolute;
    
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden:
}
/*-----------------------------------main*/
.product-slider {
    position: relative;
    
    margin-bottom: 298px;
    overflow: hidden;
}

.product-slider ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.product-slider button {
    width: 12px;
    height: 12px;
    
    border: none;
    background: none;
    background-image: url(img/slider-button-empty.svg);
    background-size: 12px 12px;
    font-size: 0;
}

.product-slider .active {
    background-image: url(img/slider-button-active.svg);
}

.product-slider .slide-description h3 {
    display: block;
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 180px;
    line-height: 152px;
    
    margin: 0;
    padding: 0;
    margin-right: -12px;
    margin-bottom: 5px;
    
    color: #ffffff;
}

.product-slider .slide-description b {
    display: block;
    
    margin-bottom: 20px;
    
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 47px;
    line-height: 56px;
    letter-spacing: 0.4px;
}

.product-slider p {
    display: block;
    
    margin-bottom: 42px;
    
    color: #464646;
    letter-spacing: 0.2px;
}

.button {
    display: inline-block;
    
    width: 220px;
    padding-top: 8px;
    padding-bottom: 8px;
    
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    
    background-color: transparent;
    background-image: linear-gradient(transparent 40%,#f0c52e 40%, #f0c52e 60%, transparent 60%, transparent);
    background-repeat: no-repeat;
    border: none;
    outline: none;
}


.button:hover {
    animation-name: full-yellow;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
}

.slide-description .button {
    margin-bottom: 48px;
}

.product-slider table tr:nth-of-type(1) {
    font-family: "Gilroy Light", "Arial", sans-serif;
    font-size: 36px;
    line-height: 48px;
}

.product-slider table tr:nth-of-type(2) {
    font-size: 13px;
    line-height: 20px;
    color: #464646;
}
.slide-description td:not(:last-child) {
    padding-right: 75px;
}

.product-slider .slider-controls {
    position: absolute;
    right: 82px;
    bottom: 145px;
    
    display: flex;
    justify-content: space-between;
    
    width: 80px;
}

.product-slider .slider-slides {
    display: flex;
    
    width: 300%;
}

.product-slider .slider-slides li {
    display: flex;
    justify-content: space-around;
    
    width: 1160px;
}

.product-slider .wrapper-image {
    width: 600px;
    display: flex;
    justify-content: space-around;
}

.product-slider .wrapper-caption {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    margin-bottom: -78px;
}

.product-slider .wrapper-caption::before {
    content: "";
    
    width: 100px;
    height: 7px;
    
    background-color: #ffffff;
    transform: translateY(37px);
}

.product-slider .slide-description {
    width: 535px;
    margin-right: 60px;
    padding-left: 35px;
}

.category {
    margin-bottom: 82px;
}

.category-list {
    display: flex;
    justify-content: space-between;
    
    list-style: none;
    margin: 0;
    padding: 0;
}

.category-list a {
    display: block;
    
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.category-list li {
    position: relative;
    
    width: 160px;
}

.category-list li::before {
    content: "";
    position: absolute;
    bottom: 100%;
    
    width: 160px;
    height: 160px;
    margin-bottom: 33px;
    
    background-color: rgba(240, 197, 46, 0.5);
}

.category-list li:hover::before {
    background-color: rgba(240, 197, 46, 1)
}

.category-list li::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 0;
    
    
    width: 160px;
    height: 160px;
    margin-bottom: 33px;
    
    background-repeat: no-repeat;
    background-position: center;
}

.category-list li:active::after {
    opacity: 0.5;
}

.virt::after {
    background-image: url(img/popular-1.svg);
}
.category-list .monopod::after {
    background-image: url(img/popular-2.svg);
    background-position: bottom;
}


.action-cam::after {
    background-image: url(img/popular-3.svg);
}


.fitnes-armlet::after {
    background-image: url(img/popular-4.svg);
}


.smart-watch::after {
    background-image: url(img/popular-5.svg);
}


.quadcopt::after {
    background-image: url(img/popular-6.svg);
}


.service-slider ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.service-slider p {
    color: #464646;
    letter-spacing: 0.25px;
}

.service-slider h3 {
    margin: 0;
    margin-top: 73px;
    margin-bottom: 30px;
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 1px;
}

.service-slider {
    display: flex;
    justify-content: space-between;
    
    height: 320px;
    
    margin-bottom: 160px;
}

.service-slider .slider-controls li:first-child {
    margin-top: 80px;
    margin-bottom: 25px;
}

.service-slider .slider-controls li:nth-child(2) {
    margin-bottom: 25px;
}

.service-slider .slider-show {
    width: 800px;
    
    overflow: hidden;
}

.service-slider .slider-controls {
    box-shadow: inset -12px 0 0 -6px black;
}

.service-slider .slider-slides {
    display: flex;
    width: 300%
}

.service-slider .slider-slides li {
    position: relative;
    width: 880px;
    
}
.service-slider .slider-slides li::before {
    content:"";
    position: absolute;
    right: 0;
    
    width: 180px;
    height: 200px;
    margin-top: 65px;
    margin-right: 45px;
    
    background-repeat: no-repeat;
    background-position: center;
}

.service-slider .slide-content {
    width: 440px;
    margin-left: 40px;
}

.delivery::before {
    background-image: url(img/delivery.svg);
}

.warranty::before {
    background-image: url(img/warranty.svg);
}

.credit::before {
    background-image: url(img/credit.svg);
}

.service-slider .button {
    width: 160px;
}

.service-slider .button:active,
.service-slider .active {
    width: 283px;
    padding-right: 123px;
    
    color: #f7e184;
    
    background-image: linear-gradient(#000000 0%,#000000 100%);
    
    animation-name: full-black;
    animation-duration: 0s;
}

.brands {
    margin-bottom: 80px;
}

.brand-list {
    display: flex;
    justify-content: space-around;
    
    list-style: none;
    margin: 0;
    padding: 0;
}

.brands a {
    font-size: 0;
    opacity: 0.2;
    filter: grayscale(1);
}

.brands a:hover {
    opacity: 1;
    filter: grayscale(0);
}

.brands+.index-column {
    display: flex;
    justify-content: space-between;
}



.about,
.contacts {
    position: relative;
    width: 560px;
}

.about::before,
.contacts::before {
    content: "";
    position: absolute;
    
    width: 80px;
    height: 7px;
    
    background-color: #000000;
}
.about h2,
.contacts h2 {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 47px;
    line-height: 48px;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 45px;
}

.about p,
.contacts p {
    color: #464646;
    
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

.about p {
    padding-right: 85px;
    margin-bottom: 30px;
}

.shiping-company-list {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 16px;
    line-height: 40px;
    list-style: none;
    
    margin: 0;
    padding: 0;
    margin-top: 65px;
    margin-bottom: 56px;
}

.shiping-company-list li {
    position: relative;
    
    padding-left: 35px;
}

.shiping-company-list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    
    width: 8px;
    height: 8px;
    margin-top: -4px;
    
    background-image: url(img/slider-button.png);
}

.contacts .map {
    display: block;
    margin-bottom: 60px;
}

.about .button,
.contacts .button {
    width: 260px;
    margin-bottom: 80px;
}
/*=======не работает=====*/
.button-write-us:active .write-us {
    display: block;
}

.bg-grey {
    position: absolute;
    top: 1240px;
    z-index: -10;
    
    width: 100%;
    height: 290px;
    
    background-color: #e5e5e5;
}

/*-----------------------------------футер*/
.main-footer {
    background: #464646;
    padding-top: 65px;
    padding-bottom: 65px;
}

.main-footer .user-icon {
    display: block;
    
    width: 13px;
    height: 12px;
    margin-top: 8px;
    margin-right: 12px;
    
    font-size: 0;
    
    background-image: url(img/footer-user.svg);
}

.main-footer .cart {
    position: relative;
    margin-left: auto;
    padding-left: 30px;
}

.main-footer .cart::before {
    content:"";
    position: absolute;
    top: 10px;
    left: 7px;
    
    width: 12px;
    height: 12px;
    
    background-image: url(img/footer-cart.svg);
}

.main-footer .compare {
    position: relative;
    padding-left: 28px;
}

.main-footer .compare::before {
    content:"";
    position: absolute;
    top: 10px;
    left: 7px;
    
    width: 10px;
    height: 10px;
    
    background-image: url(img/footer-compare.svg);
}

.main-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-footer p,
.main-footer a {
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.main-footer a:hover,
.main-footer a:focus {
    opacity: 0.6;
}

.main-footer a:active {
    opacity: 0.3;
}

.main-footer .user-interface {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

.main-footer .cart,
.main-footer .compare {
    margin-left: 35px;
}

.footer-logo+.wrapper {
    display: flex;
    justify-content: flex-end;
}

.main-footer .user-login {
    display: flex;
}

.main-footer .footer-wrapper {
    display: flex;
    
    min-height: 125px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 260px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    
    width: 260px;
}

.footer-center {
   display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 640px;
}

.main-footer .footer-left::after {
    content: "";
    
    width: 80px;
    height: 7px;
    margin-bottom: 10px;
    
    background-color: #ffc600;
}



.main-footer .service-list {
    display: flex;
    justify-content: center;
    margin-top: 3px;
}

.main-footer .service-list li:nth-child(2) {
    margin: 0 30px;
}
.social-list a {
    display: block;
    
    width: 32px;
    height: 32px;
    
    font-size: 0;
}

.social-button-facebook {
    background-image: url(img/fb.svg);
}

.social-button-instagram {
    background-image: url(img/instaram.svg);
}

.social-button-twitter {
    background-image: url(img/twitter.svg);
}
.main-footer .social-list {
    display: flex;
    justify-content: center;
}

.main-footer .social-list li:nth-child(2) {
    margin: 0 23px;
}

.htmlacademy-icon {
    display: block;
    
    width: 27px;
    height: 35px;
    
    font-size: 0;
    
    background-image: url(img/logo-html.svg);
    background-repeat: no-repeat;
}

.service-list a {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.social-button {
    opacity: 0.3;
}

.social-button:active {
    opacity: 0.1;
}

/*------------------------------------------------------------modal-*/
.modal-write-us {
    position: absolute;
    top: 0;
    left: 0;
    
    display: none;
    
    width: 960px;
    margin-left: 240px;
    margin-top: 1057px;
    
    background-color: #ffffff;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
    
    z-index: 3;
}

.modal-write-us form {
    margin-top: 90px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 75px;
}
.modal-write-us .index-column {
    display: flex;
    
    margin-bottom: 20px;
}

.modal-write-us .index-column > * {
    outline: 2px solid blue;
}

.modal-write-us .user-name{
    width: 360px;
    margin-right: 40px;
}

.modal-write-us .user-e-mail {
    width: 360px;
}

.modal-write-us label {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.modal-write-us input[type="text"],
.modal-write-us textarea {
    box-sizing: border-box;
    
    width: 100%;
    padding: 10px;
    
    font-family: "Open Sans";
    
    border: none;
    background: #f2f2f2;
}

.modal-write-us textarea {
    margin-bottom: 45px;
    resize: none;
}

.modal-write-us input[type="text"]:hover,
.modal-write-us textarea:hover {
    background: #eaeaea;
}

.modal-write-us input[type="text"]:focus,
.modal-write-us textarea:focus {
    background: none;
    outline: 2px solid #f7e296;
} 

.modal-write-us input[type="text"]:invalid,
.modal-write-us textarea:invalid {
    background: #f6dada;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
        
    width: 55px;
    height: 55px;
    margin-top: 22px;
    margin-right: 22px;
    
    font-size: 0;
    
    border-radius: 50%;
    background-color: #ffffff;
    background-image: url(img/modal-close.png);
    border: none;
    opacity: 0.5;
    outline: none;
}

.modal-close:hover,
.modal-close:focus {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.3;
}


.modal-map  {
    position: absolute;
    left: 0;
    top: 0;
    
    display: none;
    
    width: 960px;
    margin-left: 240px;
    margin-top: 1852px;
    
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
}

/*--------------------------------inner--------------------------------*/

.inner-page .main-header-container {
    margin-bottom: 50px;
}

.inner-page .main-header {
    margin-bottom: 0;
}

.inner-page h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    
    
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.7px;
}

.inner-page header {
    margin-bottom: 35px;
}

.inner-page ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumbs {
    display: flex;
    
    list-style: none;
    padding: 0;
    margin: 0;
/*    margin-bottom: 200px;*/
}


.breadcrumbs-container {
    margin-left: 60px;
    margin-bottom: 45px;
    outline: 2px solid blue;
}

.breadcrumbs a {
    font-size: 14px;
    line-height: 24px;
}

.breadcrumbs li:not(:last-of-type)::after {
    content: "";
    display: inline-block;
    
    width: 4px;
    height: 7px;
    margin: 0 18px;
    
    background-image: url(img/nav-arrow.svg);
}

.breadcrumbs li:last-of-type,
.breadcrumbs a {
    opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    opacity: 0.6;
}

.breadcrumbs a:active {
    opacity: 0.1;
}

.index-column-catalog {
    display: flex;
}

.filter {
    width: 468px;
    
    background: rgba(0, 0, 0, 0.08);
}

.inner-page .wrapper-sort-content {
    width: 972px;
}

.filter .caption-wrapper {
    display: flex;
    
    min-height: 70px;
    margin-bottom: 80px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.08);
    
}

.filter h2,
.sort h2 {
    letter-spacing: 3.5px;
}

.filter h2 {
    padding: 0;
    margin: 0;
    margin-left: 200px;
}

.filter form {
    margin-left:200px;
    margin-right: 70px;
}

.filter form * {
    margin: 0;
    padding: 0;
}

.filter fieldset {
    position: relative;
    border: none;
}

.filter legend::before {
    content:"";
    position: absolute;
    
    width: 100%;
    height: 2px;
    margin-top: -12px;
    
    background-color: #000000;
}

.filter legend {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.filter label {
    font-size: 14px;
    line-height: 40px;
}

.filter .price {
    margin-bottom: 25px;
}
.filter input[type="range"] {
    margin-bottom: 70px;
}

.filter .color {
    margin-bottom: 18px;
}

.color-list li {
    padding-left: 20px;
}

.color-list:last-child {
    margin-bottom: 43px;
}

.filter .bluetooth {
    margin-bottom: 18px;
}

.filter input[type="radio"] {
}

.bluetooth-avail li{
    padding-left: 20px;
}

.bluetooth-avail:last-child {
    margin-bottom: 36px;
}

.filter .button-show {
    width: 100%;
}

.sort {
    margin-bottom: 20px;
    
    background: rgba(0, 0, 0, 0.08);
}

.sort-container {
    outline: 2px solid blue;
    display: flex;
    min-height: 70px;
    align-items: center;
    
    width: 760px;
    margin-left: 72px;
    margin-right: 140px;
}

.sort-container h2 {
    width: 160px;
    margin-right: 40px;
}

.sort .sort-list {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    outline: 2px solid green;
}

.sort-list a {
    display: block;
    padding-bottom: 5px;
}
.sort-list li:not(:last-of-type) {
    margin-right: 30px;
}

.sort .sort-way {
    display: flex;
    justify-content: flex-end;
    
    width: 60px;
}

.sort-way li:first-child {
    margin-right: 20px;
}

.catalog {
    width: 760px;
    margin-left: 72px;
    margin-right: 140px;
    margin-bottom: 35px;
    outline: 2px solid blue;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
}

.catalog-list li {
    position: relative;
    margin-top: 50px;
}

.catalog-list img {
    margin-bottom: 20px;
}
.catalog-list .add-to-cart,
.catalog-list .add-to-compare {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
}

.catalog-list .add-to-cart {
/*  прописать абсолютные позиции  */
}

.catalog-list .add-to-compare {
/*    прописать абсолютные позиции*/
    border: none;
    background: none;
    opacity: 0.5;
    outline: none;
}

.catalog-list .label-new {
    position: absolute;
    top: 0;
    right: 0;
    
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    margin: 22px;
    
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 14px;
    line-height: 60px;
    opacity: 0.2;
    text-align: center;
    text-transform: uppercase;
    
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}
.catalog-list li:nth-child(2n) {
    margin-left: 40px;
}

.catalog-list .index-column {
    display: flex;
    justify-content: space-between;
    
    width: 360px;
}

.catalog-list h3 {
    width: 260px;
    margin: 0;
    padding: 0;
    
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.catalog-list .price {
    margin: 0;
    padding: 0;
    
    font-family: "Gilroy Light", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #464646;
}

.inner-page h2 {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.sort a,
.paginator-numbers a {
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 18px;
    opacity: 0.3;
}

.sort a:hover,
.sort a:focus,
.paginator-numbers a:hover,
.paginator-numbers a:focus {
    opacity: 0.6;
}

.sort-list a:active,
.paginator-numbers a:active {
    opacity: 1;
}

.sort-way a {
    display: block;
    
    width: 11px;
    height: 10px;
    
    font-size: 0;
}

.up-way  {
    background: url(img/icon-up.svg) no-repeat;
}

.down-way {
    background: url(img/icon-down.svg) no-repeat;
}

.catalog-item img:hover {
    opacity: 0.7;
}

.add-to-compare:hover,
.add-to-compare:focus {
    opacity: 1;
}

.add-to-compare:active {
    opacity: 0.2;
}






/*не успел доделать*/


.paginator {
    margin-left: 72px;
    margin-right: 140px;
    margin-bottom: 80px;
}

.paginator-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    min-height: 70px;
    
    background: rgba(0, 0, 0, 0.08);
}

.paginator-numbers {
    display: flex;
}

.paginator-numbers li:not(:last-of-type) {
    margin-right: 20px;
}
.paginator a {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}



.paginator-back a:hover,
.paginator-back a:focus,
.paginator-next a:hover,
.paginator-next a:focus {
     background: rgba(0, 0, 0, 0.08);
}

.paginator-back a:active,
.paginator-next a:active {
    color: rgba(0, 0, 0, 0.3);
}
