@font-face {
    font-family: "Open Sans";
    src: url("fonts/opensans.woff") format("woff"),
         url("fonts/opensans.woff2") format("woff2");
}

@font-face {
    font-family: "Open Sans Light";
    src: url("fonts/opensanslight.woff") format("woff"),
         url("fonts/opensanslight.woff2") format("woff2");
}

@font-face {
    font-family: "Gilroy Light";
    src: url("gilroylight.woff") format("woff"),
         url("gilroylight.woff2") format("woff2");
}

@font-face {
    font-family: "Gilroy ExtraBold";
    src: url("gilroyextrabold.woff") format("woff"),
         url("gilroyextrabold.woff2") format("woff2");
    
}

body {
    width: 1440px;
    
    margin: 0;
    
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
    
    background-color: #ffffff;
    background-position: top center;
}

a {
    text-decoration: none;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

header ul,
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-header {
    margin-top: 40px;
    padding: 40px 60px;
/*    margin-bottom: -115px;*/
    
    background-color: #f7e296;
}

.main-header-logo {
    position: absolute;
    top: 23px;
    left: 137px;
}


.user-interface {
    display: flex;
    align-items: baseline;
    
    margin-bottom: 40px;
}

.user-login {
    display: flex;
    align-items: center;
    
    margin-right: 55px;
}

.user-icon {
    margin-right: 10px;
    margin-left: 10px;
    width: 13px;
}

.login-exit,
.login-link {
    margin-left: 10px;
    width: 45px;
}


.user-interface > a:first-of-type {
    margin-right: 35px;
     white-space: nowrap;
}

.user-interface > a:last-of-type {
     white-space: nowrap;
}

.user-interface img {
    margin-right: 10px;
}

.user-interface form {
    white-space: nowrap;
    margin-right: auto;
}

.site-navigation {
    display: flex;
    
    margin-bottom: 35px;
    
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
}

.site-navigation li:first-child {
    margin-right: auto;
}

.site-navigation li:nth-child(2) {
    margin-right: 35px;
}

.site-navigation li:nth-child(3) {
    margin-right: 100px;
}

.popular {
    display: flex;
}

.popular ul:nth-of-type(2) {
    margin-left: 50px;
}

.popular ul:nth-of-type(3) {
    margin-left: 80px;
}

.main-header a {
    color: #000000;
}

header a:hover,
header a:focus,
footer a:hover,
footer a:focus {
    opacity: 0.6;
}

header a:active,
footer a:active {
    opacity: 0.3;
}

header input[type="search"] {
    font: inherit;
    
    background: #f7e296;
    border: none;
    outline: none;
} 

header input[type="search"]:focus {
    width: 355px;
    border-bottom: 2px solid #000000;
}

.search-button {
    width: 85px;
    
    font-size: 15px;
    line-height: 46px;
    
    background: none;
    border: 2px solid #000000;
}

.search-button:focus,
.search-button:hover {
    color: #ffffff;
    
    background: #000000;
}

.search-button:active {
    color: rgba(255, 255, 255, 0.5);
}

.site-navigation a {
    letter-spacing: 5px;
}

    
.popular a {
    line-height: 50px;
}

/*временный класс*/
.vis-h {
    position: absolute;
    
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden:
}

.preview {
    text-align: left;
}

.preview ul {
    list-style: none;
}

.preview h3 {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 180px;
    line-height: 180px;
    color: #ffffff;
    background: #a6ffa6;
/*    фон для индикации*/
}

.slide-description b {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 47px;
    line-height: 56px;
}

.product-slider p,
.service-slider p,
.about p,
.contacts p {
    color: #464646;
}

.button {
    display: block;
    width: 220px;
    height: 40px;
    
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 40px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    
    background-color: transparent;
    background-image: linear-gradient(transparent 40%,#f0c52e 40%, #f0c52e 60%, transparent 60%, transparent);
    background-repeat: no-repeat;
    border: none;
    outline: none;
}
@keyframes full-yellow {
    to {
       background-image:  linear-gradient(transparent 0%,#f0c52e 0%, #f0c52e 100%, transparent 100%, transparent);
    }
}

.button:hover {
    animation-name: full-yellow;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
}

table tr:nth-of-type(1) {
    font-family: "Gilroy Light", "Arial", sans-serif;
    font-size: 36px;
    line-height: 48px;
}

table tr:nth-of-type(2) {
    font-size: 13px;
    line-height: 20px;
    color: #464646;
}

.category-list {
    list-style: none;
    
}

.category-list a {
    color: #000000;
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    vertical-align: top;
}

.service-button:active {
    width: 280px;
    color: #f7e184;
    
    background-color: #000000;
    background-image: none;
}

.service-slider ul {
    list-style: none;
}

.slider-slides-service h3,
.about h2,
.contacts h2 {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 47px;
    line-height: 48px;
}

.brands ul {
    list-style: none;
}

.brands a {
    font-size: 0;
}
.brands a:hover {
    opacity: 0.2;
}

.about ul {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 16px;
    line-height: 40px;
}

footer {
    background: #464646;
}


footer a,
footer p,
footer .user-interface a,
footer .user-interface button {
    color: #ffffff;
}

.social-button {
    opacity: 0.3;
}

.social-button:active {
    opacity: 0.1;
}
.write-us label {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.write-us input[type="text"],
.write-us textarea {
    font-family: "Open Sans";
    
    border: none;
    background: #f2f2f2;
}

.write-us input[type="text"]:hover,
.write-us textarea:hover {
    background: #eaeaea;
}

.write-us input[type="text"]:focus,
.write-us textarea:focus {
    background: none;
    border: 2px solid #f7e296;
    outline: none;
} 

.write-us input[type="text"]:invalid,
.write-us textarea:invalid {
    background: #f6dada;
}

.modal-close {
    width: 55px;
    height: 55px;
    
    font-size: 0;
    
    border-radius: 50%;
    background-color: #ffffff;
    background-image: url(img/modal-close.png);
    border: none;
    opacity: 0.5;
    outline: none;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.3;
}

.inner-page h1 {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 47px;
    line-height: 48px;
}

main a {
    color: #000000;
}
.breadcrumbs {
    list-style: none;
}


.breadcrumbs li:last-of-type,
.breadcrumbs a {
    opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    opacity: 0.6;
}

.breadcrumbs a:active {
    opacity: 0.1;
}

.inner-page h2 {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.sort a,
.paginator-number a {
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 18px;
    opacity: 0.3;
}

.sort a:hover,
.sort a:focus,
.paginator-number a:hover,
.paginator-number a:focus {
    opacity: 0.6;
}

.sort a:active,
.paginator-number a:active {
    opacity: 1;
}

.sort-way a {
    display: block;
    width: 11px;
    height: 10px;
    
    font-size: 0;
    
}

.up-way  {
    background: url(img/icon-up.svg) no-repeat;
}

.down-way {
    background: url(img/icon-down.svg) no-repeat;
}

.catalog-item img:hover {
    opacity: 0.7;
}

.add-to-compare {
    border: none;
    background: none;
    opacity: 0.5;
    outline: none;
}


.add-to-compare:hover,
.add-to-compare:focus {
    opacity: 1;
}

.add-to-compare:active {
    opacity: 0.2;
}

.inner-page fieldset {
    border: none;
    border-top: 2px solid #000000;
}

.inner-page legend {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.inner-page ul {
    list-style: none;
}

.inner-page label {
    font-size: 14px;
    line-height: 40px;
}


.inner-page h3 {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.price {
    font-family: "Gilroy Light", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #464646;
}

.label-new {
    width: 60px;
    height:60px;
    
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 14px;
    line-height: 60px;
    opacity: 0.2;
    text-align: center;
    text-transform: uppercase;
    
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.paginator a {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}


.filter-bg {
    background: rgba(0, 0, 0, 0.08);
}

.paginator-back a:hover,
.paginator-back a:focus,
.paginator-next a:hover,
.paginator-next a:focus {
     background: rgba(0, 0, 0, 0.08);
}

.paginator-back a:active,
.paginator-next a:active {
    color: rgba(0, 0, 0, 0.3);
}